@media only screen and (max-width: 719px) {

    * {
        text-align: center;
        align-items: center;
    }

    body {
        background-color: #f5f5f5;
    }



    .header {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        padding: 10px 6.5%;
        background: transparent;
        border-radius: 10px;
        display: run-in;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        z-index: 100;

    }

    .navbar a {
        margin-right: 20%;
        font-weight: 500;
        background-color: #000000;
        border-radius: 20px;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        border: 2px solid #000000;


    }

    .navbar a:hover {
        background-color: rgb(3, 28, 255);
        font-style: oblique;
        color: rgb(253, 252, 252);
        border: 2px solid #ffffff;
    }

    .navbar span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .navbar span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .navbar:hover span {
        padding-right: 25px;
    }

    .navbar:hover span:after {
        opacity: 1;
        right: 0;
    }

    .search-bar {
        margin-top: 50px;
        width: 250px;
        height: 30px;
        background: transparent;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 6px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .search-bar input {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        margin-left: 5px;
        color: rgb(0, 0, 0);
    }

    .search-bar input::placeholder {
        font-size: 14px;
        color: rgb(0, 0, 0);
    }

    .search-bar button {
        width: 30px;
        height: 100%;
        background: transparent;
        display: flex;
        justify-content: center;
        border: none;
        outline: none;
        cursor: pointer;
        align-items: center;
    }

    .search-bar button i {
        font-size: 16px;
        color: rgb(0, 0, 0);
    }

    /* Estilos para o formulário de cadastro */
    .cadastro {
        margin-top: -100px;
        margin-left: 60px;
        margin-right: 40px;
        line-height: 200%;
        padding: 10px;
    }

    h1 {
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 2px 2px 4px rgba(4, 70, 252, 0.918);
        font-size: 40px;
        text-align: center;
    }

    label {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-align: center;
        align-items: center;
        font-size: 16px;
    }

    input[type=text] {
        margin-top: 10px;
        width: 100%;
        height: 20px;
    }

    textarea {
        width: 100%;
        height: 100px;
    }

    .cadastro button {
        margin-right: 30px;
        font-weight: 500;
        background-color: #000000;
        border: none;
        border-radius: 20px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: Impact, 'Arial Narrow Bold', sans-serif;
        color: rgb(255, 255, 255);
        border: 2px solid #000000;
    }

    .cadastro button:hover {
        background-color: rgb(3, 28, 255);
        font-style: oblique;
        color: rgb(253, 252, 252);
        border: 2px solid #ffffff;
    }

    .button {
        width: 250px;
        font-size: 20px;
     }

     footer {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

}