@media only screen and (max-width: 767px) {
    /* Estilos para telas menores que 768px */
    body {
        padding: 10px;
    }
  
    header{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
    }
  
    .search-bar {
        margin-bottom: 20px;
    }
  
    .nav a {
        display: block;
        margin-bottom: 10px;
    }
  
    section {
        margin-bottom: 10px;
        padding: 1px;
        width: 100%;
    }
  
    article{
      padding: 60px;
      margin-right: 50px;
    }

    h1{
      margin-top: 10px;
      color: blackz;
    }
  
    h2{
      font-size: 25px;
    }
  
    strong{
      font-size: 20px;
    }
  
    p{
      font-size: 18px;
    }
  
    .button{
      width: 250px;
      font-size: 20px;
    }

    footer {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      text-align: center;
  }
    
  }